body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.panel-task {
	margin-bottom: 1px;
}

.panel-heading-task {
	padding: 10px;
}

.panel-body-task {
	padding: 10px;
}