body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jumbotron {
	padding: 30px;
    margin-bottom: 15px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.panel-task {
	margin-bottom: 1px;
}

.panel-heading-task {
	padding: 10px;
}

.panel-body-task {
	padding: 10px;
}


.task-completed {
	text-decoration: line-through;
}

.progress-stage-inactive {
	color: black;
	background-color: #eee;
}

.progress-bar-separator {
	background-color: black;
}


@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

}

