body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.jumbotron {
	padding-left: 30px;
	padding-left: 30px;
	padding-top: 15Px;
	padding-bottom:15px;
    margin-bottom: 15px;
}

.jumbotron h1 {
	font-size: 30px;
}

.jumbotron h2 {
	font-size: 20px;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 18px;
}

.page-header{
	margin: 20px 0 15px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.panel-task {
	margin-bottom: 1px;
}

.panel-heading-task {
	padding: 10px;
}

.panel-body-task {
	padding: 10px;
}

/* Login css */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* End Login css */

.task-completed {
	text-decoration: line-through;
}

.progress-stage {
	margin-bottom: 5px;
	border-style: solid;
	border-width:thin;
    border-color: darkgray;
    border-radius: 4px;
	text-align: center;
	font-size: 12px;
    line-height: 20px;
}

.progress-stage-enabled-active {
    color: white;
    font-weight: bold;
    background-color: #337ab7;
}

.progress-stage-enabled-inactive {
    color: black;
    background-color: lightblue;
}

.progress-stage-enabled-active a {
    color: white;
}

.progress-stage-disabled-active {
    color: black;
    background-color: darkgray;
}

.progress-stage-disabled-inactive {
    color: gray;
    background-color: lightgray;
}

.progress-stage-disabled-inactive a{
    color: slategray;
}

.progress-bar-separator {
	background-color: black;
}

.progress-stage-detail{
	margin-top:10px;
}

.task-repetition {
    color: orangered;
    font-weight: bold;
}

.task-repetition-dropdown {
	width:45px;
	height:22px;
	border-radius: 3px;
	color: black;
}

.responsive-checkbox {
    width: 18px; 
    height: 18px;
    margin-top: 2px;
}

.save-button{
	margin-top:10px;
}

.hide-overflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

/* For Large Screen Width */
@media (min-width: 768px){
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    
    .responsive-checkbox {
		width: 13px; 
    	height: 13px;
    	margin-top: 4px;
    }
    
    .jumbotron {
		padding: 40px;
	    margin-bottom: 15px;
	}
	    
    .jumbotron h1 {
		font-size: 50px;
	}
	
	.jumbotron h2 {
		font-size: 30px;
	}
	
	h1{
		font-size: 50px;
		
	}
	
	h2{
		font-size: 30px;
	}
	
	.page-header{
		margin: 40px 0 20px;
	}
}

